*
{
    box-sizing: border-box;
}
.footerSection
{
    width:100%;
   background-color: #ccd5ae;
    color: #000; 
    text-shadow: 3px 3px 1px #ababab;
    display: flex;
    height:70px;
    justify-content: space-between;
}
.footer-name{
    font-weight: 900;
    font-size: xx-large;
    padding:10px 20px;
    
}
.footer-name a{
    text-decoration: none;
    color: #000;
}
.socials
{
    margin-top: 13px;
    position:absolute;
    right:0px;
}
.socials a
{
    gap:10px;
    padding-right:20px;
    padding-bottom:20px; 
}
.socials a i{
    font-size: 30px;
    color:#000;
    padding:5px;
    transition: color 0.5s;
}
.socials a i:hover{
    color:rgb(65, 101, 10);
}
.firstFooter
{
    display: flex;
    height: 60px;
}
.secondFooter
{
    height: 6px;
    margin-top: 7px;
    position: absolute;
    padding-left: 45%;
}

.small
{
    text-align: center;
    margin-top: 35px;
    font-size: large;
}

@media (min-width:200px) and (max-width:590px){
    .footer-name
    {
        font-size: 20px;
        padding:15px 7px ;
    }

    .secondFooter
    {
        padding-left: 35%;
        
    }

    .small
    {
        margin-top: 40px;
        font-size: 15px;
    }

    .socials a i
    {
        width: 30px;
        height: 30px;
    }
}