#projects{
   background-color: #e9edc9;
   height: 800px;
}
.projcontainer
{
   align-items: center;
   text-align: center;
   padding-top: 90px;
   padding-bottom: 50px;
}
.projheading
{
  font-size: xx-large;
    font-weight: bolder;
}
.project-card{
  width: 401px;
  height:400px;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  border:1px solid black;
  margin-left:75px;
  border-radius: 5%;
 }

 .display{
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  width:399px;
  height:200px;
   border-top:none solid black ;
 }

 .projTitle
 {
  padding: 10px 20px;
 }

 .projDes
 {
   padding-left: 20px;
 }

 .buttons
{
   display: inline-block;
   padding:0  20px;
   margin-left: 10px;
   margin-right: 20px;
  
}
 .live
 {
   width:80px;
   margin-left: 20px;
   border-radius: 10px;
   border:1px solid green;
   transition: 0.3s
 }

 .src
 {
   width:130px;
   margin-left: 60px;
   border-radius: 10px;
   border:1px solid green;
 }
 .live:hover{
   background-color: green;
   color:whitesmoke;
   padding: 5px 0 5px 0;
 }

 .src:hover{
   background-color: green;
   color:whitesmoke;
   padding: 5px 0 5px 0;
 }
 .buttons:hover{
  
 }
  