#skills
{
  width:100%;
  height: fit-content;
  padding-top:100px;
  justify-content: center;
  background-color: #e9edc9;
}
.skills-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
  }
  .skill-card img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s;
  }

  #skills h2{
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 50px;
  }

  .skill-card p{
    font-size: medium;
    color: rgb(1, 17, 31);
    font-weight: bolder;
  }
  
  .skill-card:hover img {
    transform: rotateX(35deg);
  }

  @media (min-width:200px) and (max-width:590px)
  {
    
  }
  
  @media (min-width:600px) and (max-width:900px)
  {
    .skillHeading
    {
      margin-top: 200px;
    }
  }

  @media (min-width:950px) and (max-width:1300px)
  {
    .skillHeading
    {
      margin-top: 80px;
    }
  }
  