.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ccd5ae;
    height:80px;
    color: #fff;
  }
  .brand
  {
    font-size: xx-large;
    font-weight: bolder;
    
  }
  .nav-links {
    list-style: none;
    display:flex;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 900px;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    padding-right: 40px;
    transition: color 0.3s,border-radius 0.2s;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
    border-radius: 10px;
    background-color: whitesmoke;
  }

  .brand
  {
    display:none
  }


  