.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ccd5ae;
    height:80px;
    width: 100%;
    color: #fff;
  }
  .linksContainer
  {
    width: 60%;
    position:absolute;
    right: 0px;
    padding:10px;
    display: inline;
    padding-top: 30px;
  }
  .menuButton a
{
  text-decoration: none;
  list-style: none;
  color:#000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.menuLinks
{
  width:370px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position:absolute;
  transform: translateX(350px);
  transition: 0.5s linear;
  background-color: #ccd5ae;
  padding: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menuLinksOpened
{
  width:370px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position:absolute;
  transform: translateX(-300px);
  transition: 0.5s linear;
  background-color: #ccd5ae;
  padding: 10px;
  justify-content: center;
  align-items: center;
  list-style:none;
}
  .brand
  {
    font-size: xx-large;
    font-weight: bolder;
    
  }
  .nav-links {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #000;
    border-radius: 10px;
    padding: 6px 10px;
    background-color: whitesmoke;
  }

  .brand
  {
    display:none
  }

  .menuButton
  {
    display: none;
    font-size: 30px;
    position: absolute;
    right: 40px;
  }

  @media (min-width:200px) and (max-width:590px){
    .menuButton
    {
      display: inline;
    }
    .linksContainer
    {
      display: none;
    }
  }

  



  