#about {
    width:100%;
    height:400px;
    display:flex;
    background-color: #e9edc9;
   
  }

  .aboutname{
    margin-top: 250px;
    height:200px;
    width:30%;
    padding-left:150px;
    color: rgb(21, 22, 20);
    display: flex;
    justify-content: space-between;
  }
  .aboutname h2{
    font-size: xx-large;
    font-weight: bolder;
  }

  .aboutpara
  {
    margin-top: 130px;
    height:250px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    bottom: 20px;
  }
  